<!-- <h4>Edit Recipe</h4> -->
<div>
  <div class="row">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="recipeForm.invalid"
          >Submit</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onCancel()"
          >Cancel</button>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            class="form-control"
            formControlName="name">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="imagePath">Image Path</label>
          <input
            id="imagePath"
            type="text"
            class="form-control"
            formControlName="imagePath"
            #imagePath>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <img [src]="imagePath.value" alt="Image Previe" class="img-responsive">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            type="text"
            class="form-control"
            rows="6"
            formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-xs-12" formArrayName="ingredients">
        <div style="margin-bottom: 10px;" class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formArrayName]="i">
          <div class="col-xs-8">
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-xs-2">
            <input type="number" class="form-control" formControlName="amount">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-primary" (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
